section.invest-section
  .wrapper
    .invest-section__container
      h2.invest-section__title.font-w-bold.font-s-42.text-up
        | Какие инвестиции 
        br.no-br
        | потребуются 
        span.color-sea для старта?
      .invest-section__sub-title.font-s-22
        | Выберите величину города, в котором вы откроете ваш магазин 
        br.no-br
        | и узнайте размер вложений и паушального взноса в 
        span.color-green-2 1 клик
      .swiper-invest
        .invest-section__cards.swiper-wrapper
          .invest-section__card.swiper-slide
            .invest-section__card-wrapper
              .font-w-semi-bold.font-s-30.text-up
                | до 
                span.color-green 500 тысяч 
                br.no-br
                | жителей
              img.invest-section__card-icon(src="images/invest-section-card-icon-1.png" loading="lazy" width="188" height="6" alt="icon")
              .invest-section__card-text.font-w-light.font-s-18 Узнать размер вложений <br class="no-br"> и паушального взноса
              button.btn.invest-section__card-btn(data-remodal-target="modal-form-investments") Узнать
          .invest-section__card.invest-card-color-2.swiper-slide
            .invest-section__card-wrapper.invest-card-color-wrapper-2
              .font-w-semi-bold.font-s-30.text-up
                | до 
                span.color-green-2 1 млн 
                br.no-br
                | жителей
              img.invest-section__card-icon(src="images/invest-section-card-icon-2.png" loading="lazy" width="188" height="6" alt="icon")
              .invest-section__card-text.font-w-light.font-s-18 Узнать размер вложений <br class="no-br"> и паушального взноса
              button.btn.invest-section__card-btn(data-remodal-target="modal-form-investments") Узнать
          .invest-section__card.invest-card-color-3.swiper-slide
            .invest-section__card-wrapper.invest-card-color-wrapper-3
              .font-w-semi-bold.font-s-30.text-up.color-white
                | от 
                span.color-sea 1 млн 
                br.no-br
                | жителей
              img.invest-section__card-icon(src="images/invest-section-card-icon-3.png" loading="lazy" width="188" height="6" alt="icon")
              .font-w-light.font-s-18.invest-card-text-color-2 Узнать размер вложений <br class="no-br"> и паушального взноса
              button.btn.invest-section__card-btn(data-remodal-target="modal-form-investments") Узнать
        .invest-pagination.swiper-progress-invest
