section.start-section
  .wrapper
    .start-section__container
      h2.start-section__title.font-w-bold.font-s-42.text-up
        | Мы будем поддерживать вас 
        br.no-br
        span.color-sea на всех этапах 
        | становления бизнеса
      .swiper-start
        .start-section__cards.swiper-wrapper
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-22
              | Проведём обучение 
              br.no-br
              | для вас и вашей команды
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-22
              | Дадим рекомендации 
              br.no-br
              | по выбору локации 
              br.no-br
              | и помещения
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-22
              | Поможем собрать сильную 
              br.no-br
              | команду сотрудников
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-22
              | Поделимся рабочими 
              br.no-br
              | маркетинговыми инструментами
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-22
              | Предоставим готовый перечень 
              br.no-br
              | ассортимента магазина
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-22
              | Подключим к общему 
              br.no-br
              | программному обеспечению
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-22
              | Поделимся списком 
              br.no-br
              | проверенных поставщиков 
              br.no-br
              | товаров
          .start-section__card.swiper-slide
            img.start-section__card-icon(src="images/start-section-card-icon.png" loading="lazy" width="60" height="60" alt="icon")
            .font-s-22
              | Добавим в закрытое 
              br.no-br
              | сообщество партнеров сети
        .start-pagination.swiper-progress-start

      .start-section__block
        .font-w-semi-bold.font-s-30
          | Узнайте больше 
          br.no-br
          | о работе с нами
        .start-section__block-line
        .font-s-18
          | Скачайте договор, в котором описаны 
          br.no-br
          | наши обязанности и все условия 
          br.no-br
          | сотрудничества
        button.btn.start-section__block-btn(data-remodal-target="modal-form-agreement") Скачать
      img.start-section__img(src="images/start-section-img.jpg" loading="lazy" width="760" height="710" alt="image")
