.invest-section
  background-image: url('../images/invest-section-bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  background-color #fff

  &__container
    position relative
    text-align: center
    padding 20px 0 1px 0
    color: #000
    +above($breakpoints.sm)
      padding 60px 0 60px 0
    +above($breakpoints.md)
      padding 90px 0 90px 0
    +above($breakpoints.xxl)
      padding 124px 0 124px 0

  &__sub-title
    padding 10px 0 20px 0
    +above($breakpoints.sm)
      padding 15px 0 40px 0
    +above($breakpoints.md)
      padding 15px 0 50px 0
    +above($breakpoints.xxl)
      padding 20px 0 58px 0

  &__cards
    +above($breakpoints.sm)
      display: flex
      justify-content center
      gap: 10px
    +above($breakpoints.md)
      gap: 20px

  &__card
    width 280px !important
    padding 5px
    border-radius: 6px
    background-color #CDDBBB50
    +above($breakpoints.sm)
      width 235px !important
      padding 7px
    +above($breakpoints.md)
      width 308px !important
      padding 9px
    +above($breakpoints.xxl)
      width 380px !important
      padding 11px

  &__card-wrapper
    width 100%
    background-color #CDDBBB
    padding 20px 0
    border-radius: 6px
    +above($breakpoints.sm)
      padding 35px 0
    +above($breakpoints.md)
      padding 40px 0
    +above($breakpoints.xxl)
      padding 47px 0

  &__card-icon
    width 80px
    height: auto
    margin 20px auto
    +above($breakpoints.sm)
      width 74px
      margin 25px auto
    +above($breakpoints.md)
      width 84px
      margin 30px auto
    +above($breakpoints.xxl)
      width 94px
      margin 35px auto

  &__card-text
    color: #4F4F4F

  &__card-btn
    width 200px !important
    margin 10px auto 0
    +above($breakpoints.sm)
      width 180px !important
      margin 15px auto 0
    +above($breakpoints.md)
      width 210px !important
      margin 20px auto 0
    +above($breakpoints.xxl)
      width 230px !important

.invest-card-color-2
  background-color #B0D0BE50
.invest-card-color-wrapper-2
  background-color #B0D0BE
.invest-card-color-3
  background-color #393E4040
.invest-card-color-wrapper-3
  background-color #393E40

.invest-card-text-color-2
  color: #AAAAAA
