.steps-section
  // background-image: url('../images/steps-section-bg.jpg')
  // background-repeat: no-repeat
  // background-position: center
  // background-size: cover
  background-color #fff

  &__container
    position relative
    z-index 1
    text-align: center
    padding 20px 0 20px 0
    color: #000
    +above($breakpoints.sm)
      text-align: start
      padding 70px 0 60px 0
    +above($breakpoints.md)
      padding 90px 0 80px 0
    +above($breakpoints.xxl)
      padding 141px 0 125px 0

  &__box
    +above($breakpoints.sm)
      margin-left 245px
    +above($breakpoints.md)
      margin-left 328px
    +above($breakpoints.xxl)
      margin-left 400px

  &__title
    padding 0 0 20px 0
    +above($breakpoints.sm)
      padding 0 0 40px 0
    +above($breakpoints.md)
      padding 0 0 60px 0
    +above($breakpoints.xxl)
      padding 0 0 85px 0

  &__cards
    +above($breakpoints.sm)
      display: flex
      flex-wrap: wrap
      gap: 10px
    +above($breakpoints.md)
      gap: 20px

  &__card
    width 280px !important
    border-radius: 6px
    background-color #E8F7F8
    padding 10px 5px
    +above($breakpoints.sm)
      width 235px !important
      padding 15px 10px 15px 20px
    +above($breakpoints.md)
      width 308px !important
      padding 18px 10px 18px 25px
    +above($breakpoints.xxl)
      width 380px !important
      height: 150px
      padding 21px 10px 21px 30px

  &__card-line
    width 28px
    height: 2px
    border-radius: 2px
    background-color #19AAB9
    margin 10px auto 5px
    +above($breakpoints.sm)
      margin 10px 0 8px 0
    +above($breakpoints.md)
      margin 17px 0 8px 0

  &__bottom
    position relative
    width 100%
    border-radius: 6px
    background-image: url('../images/steps-section-bottom-bg.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    background-color #141414
    color: #fff
    padding 15px 10px
    margin-top 240px
    +above($breakpoints.sm)
      width 590px
      padding 20px 10px 20px 20px
      margin-top 40px
    +above($breakpoints.md)
      width 690px
      padding 25px 10px 25px 39px
      margin-top 60px
    +above($breakpoints.xxl)
      width 827px
      height: 250px
      padding 33px 10px 33px 59px
      margin-top 85px

  &__bottom-lines
    position: absolute
    width: 140px;
    height: auto;
    right: -80px;
    bottom: 108px;
    +above($breakpoints.sm)
      width: 150px;
      right: 10px;
      bottom: 123px;
    +above($breakpoints.md)
      width: 180px;
      right: 133px;
      bottom: 152px;
    +above($breakpoints.xxl)
      width 211px
      right: 185px
      bottom: 210px

  &__form
    width 100%
    display: flex
    flex-direction: column
    align-items: center
    gap: 5px
    margin 15px 0 5px 0
    +above($breakpoints.sm)
      flex-direction: row
      margin 18px 0 15px 0
    +above($breakpoints.md)
      gap: 7px
      margin 20px 0 18px 0
    +above($breakpoints.xxl)
      margin 26px 0 20px 0
      gap: 10px
    & > *
      width 280px !important
      +above($breakpoints.sm)
        width 180px !important
      +above($breakpoints.md)
        width 200px !important
      +above($breakpoints.xxl)
        width 230px !important

  &__img
    position: absolute
    z-index -1
    width: 308px;
    height: auto;
    top: 112px;
    left: -32px;
    +above($breakpoints.sm)
      width: 520px;
      top: 0;
      left: -135px;
    +above($breakpoints.md)
      width 680px
      left: -160px
    +above($breakpoints.xxl)
      width 928px
      left: -260px

  &__img-baggage
    position: absolute
    width: 200px;
    height: auto;
    bottom: 236px;
    right: -20px;
    +above($breakpoints.sm)
      width: 450px;
      bottom: 10px;
      right: -145px;
    +above($breakpoints.md)
      width: 628px;
      bottom: 0px;
      right: -146px;
    +above($breakpoints.xxl)
      width 752px
      bottom: 33px
      right: -187px

.steps-card-order-2
  +above($breakpoints.sm)
    order: 2
.steps-card-order-3
  +above($breakpoints.sm)
    order: 3
.steps-card-order-4
  +above($breakpoints.sm)
    order: 4
.steps-card-order-5
  +above($breakpoints.sm)
    order: 5
.steps-card-order-6
  +above($breakpoints.sm)
    order: 6
